body {
    background-repeat: repeat;
    background-size: 99.99%;
    color: blue;
}

h1, h2, h5, h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
    border-color: rgb(36, 39, 216);
    border-width: 3px;
    text-align: left;
    padding: 0px;
}

.card h3, .card p {
    margin-left: 5px;
}

.weather-card img {
    max-width: 50%;
    display: inline-block;
    align-items: center;
}

.button {
    background-color: blue;
    color: aliceblue;
    border-radius: 5%;
    display: list-item;
    width: 100%;
}

button#clear-history {
    background-color: blue;
    color: white;
    margin-top: 5px;
    border-radius: 5px;
}

.weather-search {
    width: 100%;
}

.input-group-append {
    background-color: rgb(101, 105, 228);
    width: 100%;
    align-items: center;
}

.weather-header {
    background: radial-gradient(circle, rgb(255, 255, 255), rgb(0, 80, 210));
}