* {
    box-sizing: border-box;
}

:root{
    --backgroundColor:#d9dad7;
    --bodyTextColor: #083d56;
    --search-button:#007bff;
    --clearHistoryButton:#FFF7F0;
    --eventTitle: 1.1 rem;
    --cardSpacing: 2.8rem 3rem 0 ;
    --eventLinkBg:#5e87b8;
    --eventLinkColor:#000000;
     
}

body {
    background-repeat: repeat;
    background-size: 99.99%;
    background-color: var(--backgroundColor);
    color: var(--bodyTextColor);
}

h1,
h2,
h5,
h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* main cards title */

#event h3{
    font-size: var(--eventTitle);
}

/* weather block */

#forecast {
    display: flex;
    margin-top: 1.20rem;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-image: url("../assets/images/bg-image.jpg");
    background-size: cover;
}

.weather-card{
    border-style: solid;
    width: 200px;
    background-color: #e6dedd;
}

.weather-card img {
    max-width: 50%;
    height: auto;
    display: inline-block;
    align-items: center;

}

/* search and clear history button */

#search-button {
    background-color: var(--search-button);
    color: rgb(247, 255, 240);
    border-radius: 5%;
    width: 70%;
}

button#clear-history {
    background-color: grey;
    color: var(--clearHistoryButton);
    border-radius: 5%;
    width: 39%;
    margin-top: 10px;
}

.weather-search {
    width: 100%;
}

.input-group-append {
    margin-top: 10px;
    width: 50%;
    align-items: center;
}

.weather-header {
    background: radial-gradient(circle, rgb(255, 255, 255), rgb(0, 80, 210));
}

/* Event images and event cards */

#event {
    width: 100%;
}

#event a{
    font-size: 1.3rem;
    background-color:var(--eventLinkBg) ;
    color: var(--eventLinkColor);
    font-weight: bold;
    font-style: oblique;
}



.card {
    width: 40%;
    height: 500px;
    float: left;
    flex-wrap: nowrap;
    text-align: center;
    overflow: hidden;
    margin: var(--cardSpacing);   
}

/* event pictures */

#event img {
    max-width: 100%;
    height: 500px;
    object-fit: cover;

} *

/* footer */

.footer-container {
    height:300px ;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.footer-card{
    width: 50%;
    height: 200px;
}
/* media queries so pictures fit the content when re-sized*/

.logoButton{
    border-radius: 50%;
}
@media only screen and (max-width: 1000px) {

    img {
        max-width: 100%;
        height: 100%;
        object-fit: scale-down;
        
    }

    #event {
        max-width: 100%;
        height: auto;
    }

    .card {
        width: 80%;
        height: 400px;

    }

}
